# Dictionary

key and value

dict1 = {key1:value1 , ley2:value2 , key3:value3}

In [2]:
#keys are columns name basically and values are values for that columns

In [14]:
dict1 = {'id':1 , 'name':'Rohan' , 'class': 'sec'}

In [15]:
dict1

{'id': 1, 'name': 'Rohan', 'class': 'sec'}

In [16]:
dict1.keys()  # to know all the keys

dict_keys(['id', 'name', 'class'])

In [18]:
dict1.values() # to know all the values

dict_values([1, 'Rohan', 'sec'])

In [19]:
dict1.items() #to know all the items

dict_items([('id', 1), ('name', 'Rohan'), ('class', 'sec')])

In [20]:
dict['id']

1

In [21]:
dict['name']

'Rohan'

In [23]:
dict1['class']

'sec'

In [27]:
dict1['class'] = '2nd'   #updating value in ditionaries

In [25]:
dict1

{'id': 1, 'name': 'Rohan', 'class': '2nd'}

In [28]:
dict1['age'] = 25 # adding a new key and its value

In [29]:
dict1

{'id': 1, 'name': 'Rohan', 'class': '2nd', 'age': 25}

In [31]:
dict1.update({'Salary':56000}) #another way of adding a key and its value

In [32]:
dict1

{'id': 1, 'name': 'Rohan', 'class': '2nd', 'age': 25, 'Salary': 56000}

In [35]:
dict1['Salary']

56000

In [36]:
dict1['Salary'] = 78000

In [37]:
dict1

{'id': 1, 'name': 'Rohan', 'class': '2nd', 'age': 25, 'Salary': 78000}

In [38]:
dict1

{'id': 1, 'name': 'Rohan', 'class': '2nd', 'age': 25, 'Salary': 78000}

In [39]:
dict1.pop('age')  # to pop up we need to give the key , remove function is not in the list

25

In [40]:
dict1

{'id': 1, 'name': 'Rohan', 'class': '2nd', 'Salary': 78000}

In [42]:
dict1.pop('id')

1

In [43]:
dict1['id'] = 12

In [44]:
dict1

{'name': 'Rohan', 'class': '2nd', 'Salary': 78000, 'id': 12}

In [46]:
dict1.clear()  # to clear the dictionary

In [47]:
dict1

{}

In [48]:
del dict1 #to delete the dictionary

In [49]:
d2 = {'id':[1,2,3] , 'name':['rohan' , 'sohan' , 'mohan'] , 'age':[23,24,25]}

In [50]:
d2

{'id': [1, 2, 3], 'name': ['rohan', 'sohan', 'mohan'], 'age': [23, 24, 25]}

In [51]:
d2.keys()

dict_keys(['id', 'name', 'age'])

In [52]:
d2.values()

dict_values([[1, 2, 3], ['rohan', 'sohan', 'mohan'], [23, 24, 25]])

In [53]:
d2.items()

dict_items([('id', [1, 2, 3]), ('name', ['rohan', 'sohan', 'mohan']), ('age', [23, 24, 25])])

In [54]:
d2['id']

[1, 2, 3]

In [55]:
d2['name']

['rohan', 'sohan', 'mohan']

In [56]:
d2['age']

[23, 24, 25]

In [58]:
d2['age'][0] # to find the index value of particular key

23

In [60]:
d2['name'][1]

'sohan'

In [61]:
#we can also chnage the values

In [62]:
d2['name'][1] = 'jack'

In [63]:
d2

{'id': [1, 2, 3], 'name': ['rohan', 'jack', 'mohan'], 'age': [23, 24, 25]}

In [64]:
 d3 = {1:['red' , 'green' , 'orange'], 2:['apple' , 'mango' , 'banana'] }

In [66]:
d3.keys()

dict_keys([1, 2])

In [67]:
d3.values()

dict_values([['red', 'green', 'orange'], ['apple', 'mango', 'banana']])

In [69]:
d3.pop(1)

['red', 'green', 'orange']

In [70]:
d3

{2: ['apple', 'mango', 'banana']}

In [72]:
d3.pop(2)

['apple', 'mango', 'banana']

In [73]:
d3

{}

In [74]:
del d3

# Sets

In [75]:
#unordered collection of items 
# immutable 
# duplicates not allowd

In [76]:
myset = {23,12,12,23,24,24,55,34,334,5,23,12,17,19}

In [77]:
myset  # no duplicates value are allowed

{5, 12, 17, 19, 23, 24, 34, 55, 334}

In [78]:
myset[2]  # set doesn't support indexing

TypeError: 'set' object is not subscriptable

In [79]:
myset[4] = 3 # this doesn't support assigning

TypeError: 'set' object does not support item assignment

In [80]:
myset

{5, 12, 17, 19, 23, 24, 34, 55, 334}

In [81]:
myset.pop() # here it deletes randomly data becuase it doen't hold any index calue

34

In [82]:
myset.remove(19) # it will remove the particular data

In [83]:
myset

{5, 12, 17, 23, 24, 55, 334}

In [84]:
myset.clear()

In [85]:
del myset

In [86]:
myset

NameError: name 'myset' is not defined

In [87]:
set2 = {'tuesday' , 'wednesday' , 'thursday' , 'friday' , 'saturday'}

In [89]:
set2  #take and placed in  ascending order

{'friday', 'saturday', 'thursday', 'tuesday', 'wednesday'}

In [90]:
set2[3]

TypeError: 'set' object is not subscriptable

In [91]:
set2.add('sunday')

In [92]:
set2

{'friday', 'saturday', 'sunday', 'thursday', 'tuesday', 'wednesday'}

In [93]:
set2.pop(3)

TypeError: set.pop() takes no arguments (1 given)

Another way of making a set

In [99]:
y =set ([33,44,56,76,56])

In [100]:
y

{33, 44, 56, 76}

In [101]:
type(y)

set

In [104]:
y[0]

TypeError: 'set' object is not subscriptable

In [105]:
y.add(300)

In [106]:
y

{33, 44, 56, 76, 300}

In [107]:
y.remove(44)

In [108]:
y

{33, 56, 76, 300}

we done with the dataset

# loops in Python

Basically loops are code written in python which give us continous iteration of a particular code till the condition is  met

Two types of loops in the Python

For loop

while loop

syntax for while loop

In [110]:
#steps for while loop
#initialization , j = 0  , initialization  means to start any variable with number
#while(condition) while (j>3):
#code                     #print("j!-3")  , this is code
 
#increament  j = j+1

In [2]:
#initialization 
j = 0
while(j<3):
    print(j)
    j = j+1  #increment (if we will not add this increament than )

0
1
2

In [4]:
j = 0
while j<5:
    print(j)
    j =j+1

0
1
2
3
4

In [5]:
# loops are basically command which ends when condition meets

In [7]:
k = 0
while(k<=10):
    print(k)
    k =k+1

0
1
2
3
4
5
6
7
8
9
10

In [8]:
k =0
while(k<=12):
    print("k=" , k)
    k = k+1

k= 0
k= 1
k= 2
k= 3
k= 4
k= 5
k= 6
k= 7
k= 8
k= 9
k= 10
k= 11
k= 12

In [10]:
p =0
while(p<=7):
    print("p=" , p)
    p = p+1
    
print("loop end")    #this statement is not a part of while loop

p= 0
p= 1
p= 2
p= 3
p= 4
p= 5
p= 6
p= 7
loop end

In [11]:
p =0
while(p<=7):
    print("p=" , p)
    p = p+1
    print("loop end") #now it is part of loop end

p= 0
loop end
p= 1
loop end
p= 2
loop end
p= 3
loop end
p= 4
loop end
p= 5
loop end
p= 6
loop end
p= 7
loop end

In [12]:
p =0
while(p<=7):
    print("inside loop")
    print("p=" , p)
    p = p+1
    
print("loops end ")

inside loop
p= 0
inside loop
p= 1
inside loop
p= 2
inside loop
p= 3
inside loop
p= 4
inside loop
p= 5
inside loop
p= 6
inside loop
p= 7
loops end

In [13]:
d = 0
while d<11:
    print('d=' , d)
    d = d+1
print("data god")

d= 0
d= 1
d= 2
d= 3
d= 4
d= 5
d= 6
d= 7
d= 8
d= 9
d= 10
data god

In [14]:
d=2
while(d<5):
    print('d=' , d)
    d = d+1
print("the end ")

d= 2
d= 3
d= 4
the end

In [15]:
p=5
while p<50:
    print("p=" , p)
    p = p+5

p= 5
p= 10
p= 15
p= 20
p= 25
p= 30
p= 35
p= 40
p= 45

In [16]:
p=5
while p<=50:
    print("p=" , p)
    p = p+5

p= 5
p= 10
p= 15
p= 20
p= 25
p= 30
p= 35
p= 40
p= 45
p= 50